name: Run tests on OPI

on: [push]

jobs:
  build:

    runs-on: [self-hosted, ARM64]

    steps:
    - uses: actions/checkout@v1
    - name: Setup .NET Core
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: 3.1.100
    - name: Build with dotnet
      run: dotnet test
